<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>MemberOk</display-name>
    <servlet-name>MemberOk</servlet-name>
    <servlet-class>boardmake.MemberOk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberOk</servlet-name>
    <url-pattern>/MemberOk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>boardtest.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdCook</display-name>
    <servlet-name>IdCook</servlet-name>
    <servlet-class>boardtest.IdCook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdCook</servlet-name>
    <url-pattern>/IdCook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieManager</display-name>
    <servlet-name>CookieManager</servlet-name>
    <servlet-class>boardtest.CookieManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieManager</servlet-name>
    <url-pattern>/CookieManager</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>MYSQL</description>
    <res-ref-name>jdbc/myboard</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>FindIdPw</display-name>
    <servlet-name>FindIdPw</servlet-name>
    <servlet-class>boardtest.FindIdPw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindIdPw</servlet-name>
    <url-pattern>/FindIdPw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemUpdate</display-name>
    <servlet-name>MemUpdate</servlet-name>
    <servlet-class>boardtest.MemUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemUpdate</servlet-name>
    <url-pattern>/MemUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MembersLogin</display-name>
    <servlet-name>MembersLogin</servlet-name>
    <servlet-class>boardtest.MembersLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembersLogin</servlet-name>
    <url-pattern>/MembersLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LevelUpdate</display-name>
    <servlet-name>LevelUpdate</servlet-name>
    <servlet-class>boardtest.LevelUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LevelUpdate</servlet-name>
    <url-pattern>/LevelUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteProcess</display-name>
    <servlet-name>WriteProcess</servlet-name>
    <servlet-class>boardtest.WriteProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteProcess</servlet-name>
    <url-pattern>/WriteProcess</url-pattern>
  </servlet-mapping>
</web-app>